@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

:root {
  font-family: "Dangrek", system-ui;
  line-height: 1.5;
  font-weight: 400;

  height: 100%;

  color: rgb(75, 85, 99);
  background-color: #f8e9f2;
  background-image: url("BeanBG.png");
  background-repeat: repeat;
  background-size: 600px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

h1 {
  @apply font-bold text-2xl;
}
