.hasLetter {
  @apply border-gray-300;
  animation: pop 80ms ease-in;
}

@keyframes pop {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.1;
  }
}

.wrong {
  @apply bg-gray-300;
  @apply border-gray-300;
}

.correct {
  @apply bg-pink-400;
  @apply border-pink-400;
}

.wrongPlace {
  border-color: #f7dfbc;
  background-color: #f7dfbc;
}

.shake {
  animation: shake 600ms;
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

.flip {
  animation: flip 600ms ease-in;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.jump {
  animation: jump 1000ms;
}

@keyframes jump {
  0%,
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
